#leagueTable{
    text-align: center;
}
#leagueHeader{
    text-align: center;
}
#teamHeader{
    text-align: center;
}
#playersTable{
    text-align: center;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}
#teamBadge{

}