
#leagueTable {
    text-align: center;
    font-family: 'PT Serif Caption', serif;
    font-size: 18px;
    font-weight: bold;
}
#leagueTable th{
    color: #dae1e3;
    font-size: 21px;
}
#leagueHeader{
    text-align: center;
}
#teamHeader, #playersHeader, #coachesHeader, #coaches{
    text-align: center;
}
#teamHeader, #leagueHeader{
    font-family: 'Ultra', serif;
}
#playersHeader{
    font-family: 'Fugaz One', cursive;
}
#coachesHeader{
    font-family: 'Fugaz One', cursive;
    font-size: 16px;
}
#playersTable{
    text-align: center;
    width:70%;
    border-collapse: collapse;
    font-family: 'PT Serif Caption', serif;
    color: #31b9f7;
}
#playersTable th{
    color: #120323;
}
#teamBadge{
    text-align: center;
    padding-bottom: 30px;
}
#tableDiv{
    display: flex;
    justify-content: center;
}
#coachesList{
    font-family: 'PT Serif Caption', serif;
}
#mainDiv{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,89,16,1) 45%, rgba(206,255,0,0.7679446778711485) 95%);
}
.info{
    display: none;
    font-size: 13px;
}
.enabledAdditionalInfo{
    display: inline;
    font-size: 13px;
}
#leaguePosition{
    color: #a6550c;
}
#teamName{
    color: #a68a0c;
}
#matchesPlayed{
    color: #0f5d91;
}
#matchesWon{
    color: #97e6f7
}
#matchesDrawn{
    color: #827e85;
}
#matchesLost{
    color: #870b1b;
}
#goalsScored{
    color: #096b54;
}
#goalsLost{
    color: #803030;
}
#goalsDifference{
    color: #8a0c81;
}
#leaguePoints{
    color: #081b54;
}
